* {
    padding: 0px;
    margin: 0px;
    
    
    }
html {
    box-sizing: border-box;
}
*, *::before, *::after{

    box-sizing: inherit;
}
body{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;  
    background: no-repeat;
    
} 
a{
    color: #19181a;
    display: inline-block;
    text-decoration: none;
}
ul{
    
    font-weight: 700;
    list-style: none;
}
li{
    display: inline-block;
}
.header{
    background-color: aliceblue;  
   
    
}

.header__logo{
    margin-left: 20px;
    border-radius: 40%;
}
.logo_marry{
    height: 79px;
    width:200px ;
}
.header__logo img{
    width: 150px;
    height: 79px;
}
.header__logo a{
    color:  rgb(15, 15, 15);
    font-size: 50px;
    font-weight: 400;
    font-family: 'Sacramento', cursive;
}
.header__menu{
margin-right: 30px;

}

.header__menu a{
 
    font-weight: 400;
    font-style: 13px;
    line-height: 13px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 13px;
    font-family: 'PT Serif', serif;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    background-color: #fff;
    max-width: 1620px;
    width: 100%;
    
}
.header__menu li + li{
    margin-left: 50px;
    
}
.header__menu a:hover{
    color: #78757ac9;
    border-bottom: 1px solid #5C8C9B;
}
//end header
//start slider
.wrapper{
    
    .container{
        width: 100%;
    }
}
.container__inner{
    height: 576px;
    width: 100%;
      
}
.container__inner-img{
 
 height: 576px;
 
 
}
.container__inner-text{
    color:white;
    position: absolute;
    width: 1170px;;
    height: 100px;
    margin-top: 215px;
    margin-left: 270px;
    margin-right: 180px;
    z-index: 120;  
    opacity: .8;
    display: flex;
    justify-content: center;
    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 93px;
    }
    
}
// pochemu ya vam nuzhna
.info__inner{
    display: flex;
    flex-direction: row;
    height: 460px;
}
.info__inner_tex-x2{
    display: flex;
    flex-direction: column
    
}
.info__inner-text-1{
    font-size: 48px;
    margin-left: 273px;
    padding-top: 30px;
    
    
}
.info__inner-img-1{
    margin-top: 93px;
    height: 360px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: 10px;
        width: 115px;
        height: 115px;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        top:0;
    }
    
}
.info__inner-text-2{
    height: 150px;
    width: 655px;
    background-color: #e7e7e7;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 273px;
    margin-right: 150px;
    
   
    h3{
        font-size: 30px;
        font-weight: 300;
    }
}
.info__inner-text-3{
    height: 170px;
    width: 655px;
    background-color: #e7e7e7;
    border-radius: 15px;
    margin-left: 273px;
    h3{
    font-size: 30px;
    text-align: initial;
    padding-left: 18px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-weight: 300;
    }
}
.nizhnii__info__inner{
    display: flex;
    
}
.nizhnii__info__inner-text{
    background-color: #e7e7e7;
    height: 232px;
    width: 773px;
    margin-top: 20px;
    h3{
        font-weight: 300;
        font-size: 30px;
    }
}
.nizhnii__info__inner-img{
    width: 254px;
    margin-left: 253px;
    margin-right: 48px;
    margin-top: 15px;
}
.injection{
    width: 120px;
    
}
.injection__img{
   
    padding-top: 100px;
    padding-right: 185px;
    
}
.aboutme{
    background-image: url(../images/fon.png);
    background-size: 100% auto;
}
.wrapper{
    min-width: 100vh;
}
// .slider__item{
//     min-height: 600px;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     position:relative;
    

  
// }
// .thumbs__item{
//     width: 140px;
//     height: 120px;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
    
// }
// .wrapper {
//     position:relative;
//     display:flex;
//     justify-content: center;
//     align-items: center;
    

// }
// .thumbs .slick-track{

//     transform:translate3d(0px, 0px, 0px) im !important;
// }

// .thumbs .slick-slide{
//     max-width: 140px;
// }
// .thumbs .slick-track div + div{
//     margin-left: 14px;

// }
// .thumbs{
//     display: flex;
//     justify-content: center;
   
// }
// .slider {
//     max-width: 1620px;
//     margin: 0 auto;
//     overflow: hidden;
//     width: 100%;
    
    
    // &-slide {
    //   margin: 0 30px;
    // }
    
    // &-list {
    //   margin-left: -30px;
    //   margin-right: -30px;
    // }
    
  
    
  //}
  
// .slider .slider_text{
//     color:white;
//     position: absolute;
//     width: 1170px;;
//     height: 100px;
//     margin-top: 215px;
//     margin-left: 270px;
//     margin-right: 180px;
//     z-index: 120;  
//     opacity: .8;
//     display: flex;
//     justify-content: center;
    
//     h2{
//         font-size: 80px;
//         font-weight: 300;
        
//     }

// }


// .slider.slick-arrow{
    
//     position: absolute;
//     top: 50%; /* выравнивание по вертикали*/
//     margin: -15px 0 0 0;  /*корректировка  вертикального выравнивания*/
    
//     font-size: 0; /*убираем надпись на дефолтной стрелке*/
//     width: 30px; /*ширина стрелки*/
//     height: 52px; /*высота стрелки*/
//     z-index: 1;
    
// }
//     .prev{
//     content: 'url(../images-slider/left_icon.svg)';
//     }
  
//   .slick-slider .slick-track{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-top: 20px;
//   }
//   .slick-next::before {
//     background: url('../images-slider/next.png') no-repeat;
//     content: "";
//     display: block;
//     height: 15px;
//     width: 15px;
// }
.info{
    background-color: #d7d9da;
   
}


